body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
}

main {
    padding: 20px;
    min-height: calc(100vh - 140px); /* Definindo a altura mínima como o restante da altura da janela, subtraindo o espaço ocupado pelo header e footer */
}

article {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}


.social-icons {
    margin-top: 20px;
    text-align: center; /* Centraliza os ícones horizontalmente */
}

.social-icons a {
    display: inline-block; /* Torna os ícones elementos de bloco, mas mantém o fluxo em linha */
    margin-right: 10px; /* Adiciona margem à direita para espaçamento entre os ícones */
    width: 30px; /* Definindo uma largura fixa para os ícones */
    height: 30px; /* Definindo uma altura fixa para os ícones */
}

.social-icons img {
    width: 100%; /* Ajustando o tamanho das imagens para preencher completamente os contêineres */
    height: 100%; /* Ajustando o tamanho das imagens para preencher completamente os contêineres */
}

.formulario {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 40px; /* Aumente o padding para dar mais espaço interno ao formulário */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    margin: 20px auto; /* Reduza a margem superior */
    max-width: 400px; /* Ajuste o max-width conforme necessário */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
